@model Student
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

</head>
<body>
    <form method="post">
        <input asp-for="Id"/>
        <input asp-for="Name"/>
        <input asp-for="Age"/>
        <input  type="submit" value="update" class=" btn btn-success"/>
        <a asp-action="index" asp-controller="home" class="btn btn-primary">Back</a>
        

    </form>
</body>
</html>
