
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Upload</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

</head>
<body>
    <form method="post" enctype="multipart/form-data" class="btn btn-secondary">
        <input  type="text" name="name"/>
        <input  type="file" name="studentimge"/>
        <input  type="submit" value="add" class="btn btn-success"/>
    </form>
</body>
</html>
